<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white">To Do List</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav">
      <ul class="navbar-nav float-end">
        <li class="nav-item">
          <a class="nav-link text-white" (click)="logout()">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="./abertas">Atividades em aberto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./concluidas">Atividades Concluídas</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
