<h2 class="text-center">Login</h2>
<form class="form-login" [formGroup]="formulario">
  <div class="col-md-4 offset-md-4">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="nome@email.com"
      formControlName="email"
      [class.is-invalid]="
        formulario.get('email').invalid && formulario.get('email').touched
      "
    />
    <div
      *ngIf="formulario.get('email').invalid && formulario.get('email').touched"
    >
      <span class="is-invalid text-danger"> E-mail inválido</span>
    </div>
  </div>
  <div class="col-md-4 offset-md-4">
    <label for="senha" class="form-label">Senha</label>
    <input
      type="password"
      id="senha"
      class="form-control"
      formControlName="senha"
      [class.is-invalid]="
        formulario.get('senha').invalid && formulario.get('senha').touched
      "
    />
    <div
      *ngIf="formulario.get('senha').invalid && formulario.get('senha').touched"
    >
      <span class="is-invalid text-danger"> Senha obrigatória</span>
    </div>

    <div style="margin-top: 10px">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="formulario.invalid"
        (click)="login()"
      >
        Login
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        style="margin-left: 10px"
        routerLink="./criar"
      >
        Criar Conta
      </button>
    </div>
  </div>
</form>
